#map {
  bottom:0px;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0px;
}

/* Optional: Makes the sample page fill the window. */
/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/

@media screen and (max-width: 767px) {
    .dropdown {
        max-width: 50%;
        float: left;
    };
    .navbar-form {
        max-width: 50%;
        float: right;
    }
}
