
html, body {
    border: 0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    min-width: 1024px;
    min-height: 800px;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

#map {
    bottom:0px;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 100%;
}

.options-box {
    z-index: 1;
    width: 300px;
    position: absolute;
    height: 100%;
    background-color: white;
    opacity:.8;
    line-height: 25px;
    padding: 10px 10px 30px 10px;
    text-align: left;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
